.menu-container{
    background-color: white;
    height: fit-content;
    
}

@media screen and (max-width:1600px){
    .menu-container{
      width: 50vw;
      
    }
  }

  @media screen and (max-width:800px){
    .menu-container{
      width: 90%;
      
    }
  }

.menu-body{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    height: 300px;
    

}
.menu-item{
    font-size: 1.5rem;
    
}

.menu-item *{
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    color: black;
    transition: all 0.3s ease-out;    
    position: relative;
    font-weight: 700;
}

.menu-item *:hover{
    color: var(--color-hd);
    

}

.pointer{
    display: block;
    position: absolute;
    left: -30px;
}

.pointer.hide{
    display: none;
}

.font-yellow{
    color: var(--color-hd);
}

