  .input-body{
    background-color: white;
    padding: 2rem;
    
    
  }
  form{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    gap: 30px;
  }

  .input-items{
    display: flex;
    gap: 10px;
    justify-content: space-between
  }

  .form-item{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    
  }

  input,select{
    flex: 1 0;
    padding: 5px;
  }
  label{
    width: 100px;
    text-align: left;
    
    
  }

 .prod-container{
    flex-direction: column;
    gap: 10px;
 }

 .input-items-cont{
    display: flex;
    justify-content: space-between;
 }

.prod-container .btn-container{
    width: 100%;
   
    display: flex;
    justify-content: flex-end;
    
}



.form-item-add{
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

#add{
  width: 100%;
}

form>.btn-container{
  display: flex;
  justify-content: center;
  gap: 10px;
  
}

@media screen and (max-width:1320px) {
  .form-item{
    width: 50%;    
  }
}

@media screen and (max-width: 900px) {
  .form-item,
  .input-items,
  .form-item-add{
    flex-direction: column;
  }  

  .form-item,label, input, select{
    width: 100%;
  }

  form>.btn-container{
    flex-direction: column;
    align-items: center;
    
  }
}

.order-inputted{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100px;
  
  margin: 20px 0;
}

.ord{
  width: 50px;
}

.edit,.delete{
  cursor: pointer;
}