.config{
    display: flex;
    justify-content: space-between;
}

.date-filter{
    
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.date-filter label,p{
    width: fit-content;
    
}

.date-filter input{
    font-size: 15px;
    flex: 1 0;
}

.edit-container{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}
.edit-container .btn{
    background-color: transparent;
    padding: 5px;
}

.add.btn{
    border: 1px solid green;
}

.edit.btn{
    border: 1px solid orange;
}

.del.btn{
    border: 1px solid red;
}

.search-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category{
    display: flex;
    justify-content: space-between;
    
}


.search-icon{
    position: relative;
    right: 20px;
    bottom: -5px;
}

@media screen and (max-width:1240px) {
    .input-body{
        flex-direction: column;
        gap: 20px;
    }
}